.card-img-top {
  border: none;
}

.btn {
  background-color: transparent;
  color: black;
  border-color: black;
}

.btn:hover {
  background-color: #6b5e75;
  border-color: transparent;
}

@media (max-width: 768px) {
  Card {
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) {
  Card {
    padding: 0rem;
  }
}
