#caseStudy {
  padding: 4rem 0;
}

p {
  color: #fff;
}

@media (max-width: 768px) {
  p {
    text-align: left;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  p {
    padding: 1rem 5rem;
  }
}
