#allAbout {
  padding: 4rem 0;
}

.aboutP {
  color: #fff;
}

@media (max-width: 768px) {
  .aboutP {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .aboutP {
    padding: 1rem 3rem;
  }
}
