* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: aliceblue;

}

nav {
    background-color: lightskyblue;
}

h1 {
    font-size: 14px;
    color: black;
}

h2 {
    font-size: 20px;
    color: darkcyan;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    color:darkcyan;
}

h4 {
    font-size: 18px;
    color: black;
}

#line3 {
    font-size: 24px;
    color: lightseagreen
}

p {
    font-size: 14px;
    color: black;
}

#contact-list {
    list-style-type: none;
}
